In [1]:
import pandas as pd
import pymongo
from IPython.display import clear_output
from geopy.geocoders import Nominatim
import json
import re
import string
import concurrent.futures
import requests

In [2]:
# Connect to database
connection_string='mongodb://localhost:27017'
client = pymongo.MongoClient(connection_string)
# Define database for storage
db = client.dice_db

In [3]:
# # Drop Duplicates from database
# import json
# def drop_db_duplicates(db_table):
#     # Retrieve data for analysis
#     actual_collection = db_table.find()
#     #get mongoDB data into a dataframe
#     actual_collection_df = pd.DataFrame(list(actual_collection))
#     #exclude unique index and drop duplicates
#     actual_collection_df = actual_collection_df.loc[:, actual_collection_df.columns != '_id']
#     actual_collection_df = actual_collection_df.drop_duplicates()
#     #prepare records to load into database
#     records = json.loads(actual_collection_df.T.to_json()).values()
#     #insert into database unique values
#     db_table.drop()
#     db_table
#     db_table.insert(records)

In [4]:
# drop_db_duplicates(db.jobs_test)

In [5]:
jobs_collection = db.jobs.find()
jobs_df = pd.DataFrame(list(jobs_collection))
jobs_df

,_id,job_title,job_company,job_salary,job_location,job_date,job_description,location_latitude,location_longitude,job_type
0,5fd6a28bca0e57fbbf2284e3,Business Analytics Director,University of Kentucky,Depends on Experience,"Lexington, KY, USA",2020-12-12,\nThe University of Kentucky’s Institutional R...,NaN,NaN,NaN
1,5fd6a28bca0e57fbbf2284e4,Associate Software Engineer III,Penske,Depends on Experience,"Reading, PA, USA",2020-12-12,\nSummary Statement:Working with a diverse tea...,NaN,NaN,NaN
2,5fd6a28bca0e57fbbf2284e5,Developer,Healh Care Logistics,"$70,000 - $85,000","Grove City, OH, USA",2020-12-11,\nTitle: Developer ...,NaN,NaN,NaN
3,5fd6a28bca0e57fbbf2284e6,ServiceNow Solution Architect,Saxon Global Inc.,$open,"Charlotte, NC, USA",2020-12-13,"\nHi, Please go through the job description an...",NaN,NaN,NaN
4,5fd6a28bca0e57fbbf2284e7,Full Time HRIS Developer,Saxon Global Inc.,Depends On Experience,"Nashville, TN, USA",2020-12-13,"\nLocation: Nashville TN, Memphis TN , Ridgela...",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
27421,5fd81d49eb016bc81b4f95fe,Junior Mobile Developer - C#,"eXcell, a division of CompuCom Systems, Inc.",BASED ON EXPERIENCE,"Kent, WA, USA",2020-12-14,"\nOur client is seeking a full-time, passionat...",47.3827,-122.227,Full Time
27422,5fd81d4beb016bc81b4f95ff,Senior Salesforce Business Analyst,Synapse Business Systems,BASED ON EXPERIENCE,"Arlington, VA, USA",2020-12-14,\nSenior Salesforce Business Analyst - Need Se...,32.7019,-97.1056,"Contract W2, Contract Independent, C2H W2, C2H..."
27423,5fd81d4deb016bc81b4f9600,Salesforce Business Analyst,Synapse Business Systems,BASED ON EXPERIENCE,"Washington, DC, USA",2020-12-14,\nSENIOR BUSINESS ANALYST with Active Secret C...,38.895,-77.0366,"Contract W2, Contract Independent, C2H W2, C2H..."
27424,5fd81d50eb016bc81b4f9601,Need Data Lead for Washington DC,Synapse Business Systems,BASED ON EXPERIENCE,"Washington, DC, USA",2020-12-14,\n Job Position : Data LeadLocation : Washingt...,38.895,-77.0366,"Contract W2, Contract Independent, C2H W2, C2H..."
27425,5fd81d52eb016bc81b4f9602,Devops Architect,Synapse Business Systems,BASED ON EXPERIENCE,"Chicago, IL, USA",2020-12-14,\n\t\t\tDEVOPS ArchitectRemote RoleRequired Qu...,41.8756,-87.6244,"Contract W2, Contract Independent, C2H W2, C2H..."

In [6]:
jobs_df.loc[:, jobs_df.columns != '_id'].drop_duplicates().describe()

,job_title,job_company,job_salary,job_location,job_date,job_description,location_latitude,location_longitude,job_type
count,27426,27426,27426,27426,27426,27426,7025.000000,7025.000000,7025
unique,12334,530,1098,2326,47,17347,848.000000,848.000000,21
top,REMOTE Full Stack LAMP Developer - UI/UX Design,Apex Systems,,"New York, NY, USA",2020-12-13,\nCX Researcher / Journey Mapper for Global Se...,38.894154,-77.431151,Full Time
freq,291,2567,19545,869,15375,29,322.000000,322.000000,6775

In [7]:
jobs_df["job_date"].unique()

array(['2020-12-12', '2020-12-11', '2020-12-13', '2020-12-10',
       '36 minutes ago', '37 minutes ago', '39 minutes ago',
       '41 minutes ago', '42 minutes ago', '23 minutes ago',
       '24 minutes ago', '30 minutes ago', '31 minutes ago',
       '32 minutes ago', '35 minutes ago', '38 minutes ago',
       '40 minutes ago', '45 minutes ago', '49 minutes ago',
       '50 minutes ago', '51 minutes ago', '58 minutes ago',
       '47 minutes ago', '48 minutes ago', '1 hour ago', '2 hours ago',
       '33 minutes ago', '2020-12-09', '2020-12-08', '2020-12-05',
       '2020-12-04', '2020-12-03', '2020-12-01', '2020-11-21',
       '2020-11-20', '2020-11-19', '2020-11-18', '2020-11-17',
       '2020-11-14', '2020-11-05', '2020-11-04', '2020-10-30',
       '2020-10-24', '2020-10-23', '2020-10-16', 'None', '2020-12-14'],
      dtype=object)

In [8]:
# Apply a first round of text cleaning techniques
re.DOTALL
def clean_text_round1(text):
    '''Make text lowercase, remove text in square brackets, remove punctuation and remove words containing numbers.'''
    text = text.lower()
    text = re.sub('[%s]' % re.escape(string.punctuation), ' ', text)
    text = re.sub('\w*\d\w*', ' ', text)

    '''Get rid of some additional punctuation and non-sensical text that was missed the first time around.'''
    text = re.sub('[‘’“”…]', ' ', text)
    text = re.sub('\n', ' ', text)
    return text

round1 = lambda x: clean_text_round1(x)

In [9]:
# Apply the data cleaning
jobs_clean_df = jobs_df
jobs_clean_df = pd.DataFrame(jobs_clean_df["job_description"].apply(round1))

In [10]:
# See description before transformation
jobs_df.loc[1, "job_description"]

'\nSummary Statement:Working with a diverse team, you will participate in all aspects of the software development lifecycle. You will get an opportunity to design functions and modules and be responsible for delivering the next generation of innovative applications to our customers\xa0What You Will Be Doing:As an Associate Software Engineer III, you will be part of a team that develops our next generation of applications while enhancing and supporting our existing applications. You will be involved in reviewing, interpreting & developing systems in accordance with user requirements & troubleshooting issues as they occur. Working with the business and other software engineers/leads, you will develop an understanding of the requirements and translate them into technical design to develop and implement the solution. You will also collaborate with engineers and architects to ensure optimization, offering your input into the requirements and potential alternative courses of action.\xa0Penske Responsibilities:• Act as the primary contact and lead support associate for multiple application modules/ processes, resolving customer issues in a timely manner. \xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0• Participate in all aspects of the Software Development lifecycle through supporting existing software development efforts and developing new software modules.• Develop, maintain, test, analyze performance, troubleshoot / fix applications and applicable code. \xa0\xa0• Delegate tasks and participate in reviewing code from junior onshore & offshore developers.• Produce deliverables with clean, well-documented and easily maintainable code that adheres to defined coding standards and best practices• Participate in designing backend database schemas, using concepts such as Database Normalization and write complex SQL statements.• Interact with business analysts/product owners to understand requirements, translate it to technical design & develop the related components/modules. \xa0 \xa0 \xa0 \xa0 \xa0 \xa0• Write unit / UI tests to help identify defects.• Implement software for applications and related technology, with minimum oversight• Analyze project specifications, software requirements specifications, and software prototypes and build test plans and test cases based on the analysis\xa0\xa0Qualifications\xa0Qualifications:• Bachelor’s Degree in Computer Science/Computer Engineering or equivalent years of software development experience• 2-4 years of experience in appropriate programming languages such as Java/RPG• Full stack development experience in technologies such as React, Angular, jQuery, HTML, JavaScript, CSS, Spring framework, Spring-MVC, myBatis, RESTful API’s.• Understanding of the full software development lifecycle.\xa0• Understanding of project management concepts.\xa0• Excellent communication and interpersonal skills.• Experience of appropriate design frameworks and patterns. \xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0\xa0• Experience in relational database design and writing complex SQL \xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0\xa0• Ability to work independently and in a team environment• Experience with Agile Methodology Preferred• A team player mindset with an ability to thrive and effectively communicate in a fast-paced, constantly evolving environment• Regular, predictable, full attendance is an essential function of the job.• Willingness to travel as necessary, work the required schedule, work at the specific location required, complete Penske employment application, submit to a background investigation (to include past employment, education, and criminal history) and drug screening are required.\xa0\xa0Physical Requirements:-The physical and mental demands described here are representative of those that must be met by an associate to successfully perform the essential functions of this job.\xa0 Reasonable accommodations may be made to enable individuals with disabilities to perform the essential functions.-The associate will be required to: read; communicate verbally and/or in written form; remember and analyze certain information; and remember and understand certain instructions or guidelines.-While performing the duties of this job, the associate may be required to stand, walk, and sit.\xa0 The associate is frequently required to use hands to touch, handle, and feel, and to reach with hands and arms.\xa0 The associate must be able to occasionally lift and/or move up to 25lbs/12kg.-Specific vision abilities required by this job include close vision, distance vision, peripheral vision, depth perception and the ability to adjust focus.\xa0Penske is an Equal Opportunity Employer.\xa0About Penske Truck LeasingPenske Truck Leasing Co., L.P., headquartered in Reading, Pennsylvania, is a partnership of Penske Corporation, Penske Automotive Group and Mitsui & Co., Ltd. A leading global transportation services provider, Penske operates a premier fleet of vehicles and serves its customers from locations in North America, South America, Europe, Australia, and Asia. Penske’s product lines include full-service truck leasing, contract maintenance, commercial and consumer truck rentals, used truck sales, transportation and warehousing management and supply chain management solutions. Visit www.GoPenske.com to learn more.\xa0\xa0Work Locations:\xa0\xa02675 Morgantown Rd\xa0\xa0\xa0\xa0\xa0Reading, PA\xa019607\xa0Primary Location:\xa0\xa0United States-Pennsylvania-Reading\xa0Job:\xa0\xa0Information Technology\xa0Penske (Oracle) Job Name:\xa0\xa0PTL.Associate Software Engineer III\n'

In [11]:
# See description after transformation
jobs_clean_df.loc[1, "job_description"]

' summary statement working with a diverse team  you will participate in all aspects of the software development lifecycle  you will get an opportunity to design functions and modules and be responsible for delivering the next generation of innovative applications to our customers\xa0what you will be doing as an associate software engineer iii  you will be part of a team that develops our next generation of applications while enhancing and supporting our existing applications  you will be involved in reviewing  interpreting   developing systems in accordance with user requirements   troubleshooting issues as they occur  working with the business and other software engineers leads  you will develop an understanding of the requirements and translate them into technical design to develop and implement the solution  you will also collaborate with engineers and architects to ensure optimization  offering your input into the requirements and potential alternative courses of action \xa0penske responsibilities • act as the primary contact and lead support associate for multiple application modules  processes  resolving customer issues in a timely manner  \xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0• participate in all aspects of the software development lifecycle through supporting existing software development efforts and developing new software modules • develop  maintain  test  analyze performance  troubleshoot   fix applications and applicable code  \xa0\xa0• delegate tasks and participate in reviewing code from junior onshore   offshore developers • produce deliverables with clean  well documented and easily maintainable code that adheres to defined coding standards and best practices• participate in designing backend database schemas  using concepts such as database normalization and write complex sql statements • interact with business analysts product owners to understand requirements  translate it to technical design   develop the related components modules  \xa0 \xa0 \xa0 \xa0 \xa0 \xa0• write unit   ui tests to help identify defects • implement software for applications and related technology  with minimum oversight• analyze project specifications  software requirements specifications  and software prototypes and build test plans and test cases based on the analysis\xa0\xa0qualifications\xa0qualifications • bachelor s degree in computer science computer engineering or equivalent years of software development experience•     years of experience in appropriate programming languages such as java rpg• full stack development experience in technologies such as react  angular  jquery  html  javascript  css  spring framework  spring mvc  mybatis  restful api s • understanding of the full software development lifecycle \xa0• understanding of project management concepts \xa0• excellent communication and interpersonal skills • experience of appropriate design frameworks and patterns  \xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0\xa0• experience in relational database design and writing complex sql \xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0 \xa0\xa0• ability to work independently and in a team environment• experience with agile methodology preferred• a team player mindset with an ability to thrive and effectively communicate in a fast paced  constantly evolving environment• regular  predictable  full attendance is an essential function of the job • willingness to travel as necessary  work the required schedule  work at the specific location required  complete penske employment application  submit to a background investigation  to include past employment  education  and criminal history  and drug screening are required \xa0\xa0physical requirements  the physical and mental demands described here are representative of those that must be met by an associate to successfully perform the essential functions of this job \xa0 reasonable accommodations may be made to enable individuals with disabilities to perform the essential functions  the associate will be required to  read  communicate verbally and or in written form  remember and analyze certain information  and remember and understand certain instructions or guidelines  while performing the duties of this job  the associate may be required to stand  walk  and sit \xa0 the associate is frequently required to use hands to touch  handle  and feel  and to reach with hands and arms \xa0 the associate must be able to occasionally lift and or move up to      specific vision abilities required by this job include close vision  distance vision  peripheral vision  depth perception and the ability to adjust focus \xa0penske is an equal opportunity employer \xa0about penske truck leasingpenske truck leasing co   l p   headquartered in reading  pennsylvania  is a partnership of penske corporation  penske automotive group and mitsui   co   ltd  a leading global transportation services provider  penske operates a premier fleet of vehicles and serves its customers from locations in north america  south america  europe  australia  and asia  penske s product lines include full service truck leasing  contract maintenance  commercial and consumer truck rentals  used truck sales  transportation and warehousing management and supply chain management solutions  visit www gopenske com to learn more \xa0\xa0work locations \xa0\xa0  morgantown rd\xa0\xa0\xa0\xa0\xa0reading  pa\xa0 \xa0primary location \xa0\xa0united states pennsylvania reading\xa0job \xa0\xa0information technology\xa0penske  oracle  job name \xa0\xa0ptl associate software engineer iii '

In [12]:
key_words = ["data+analyst", "data+scientist", "excel", "python", "pandas", "matplotlib", "sql", "postgresql", "bootstrap", "nosql", \
    "mongodb", "mongo", "javascript", "tableau", "machine+learning", "ml", "scikit+learn", "scikit", "keras", "tensorflow", "pyspark", "natural+language+processing", \
        "nlp", "big+data", "etl", "extract+transform+load", "amazon+web+services", "aws", "rds"]

In [13]:
#clean-up characters in keywords
key_words = map(round1, key_words)
key_words = [key for key in key_words]
key_words

['data analyst',
 'data scientist',
 'excel',
 'python',
 'pandas',
 'matplotlib',
 'sql',
 'postgresql',
 'bootstrap',
 'nosql',
 'mongodb',
 'mongo',
 'javascript',
 'tableau',
 'machine learning',
 'ml',
 'scikit learn',
 'scikit',
 'keras',
 'tensorflow',
 'pyspark',
 'natural language processing',
 'nlp',
 'big data',
 'etl',
 'extract transform load',
 'amazon web services',
 'aws',
 'rds']

In [14]:
jobs_clean_df.loc[55,"job_description"]

' role  data analyst location  winston   salem nc long term contract job description           years of experience in it and banking field with    experience in sql server oracle or other database query language   understand and update business reporting and processes which will reduce duplication of data  reduce data entry into multiple systems and facilitate quicker data driven business decisions and document the details for technology team to understand   work with end users  business analysts and developers to streamline data flowing in to the applications    export and manipulate data from business systems to be used in reports and analysis   setup graphs and presentations to visually represent information using excel and or tableau   experience with creating  documenting  and maintaining processes   develop presentations and produce clear data visualizations for multiple levels of staff  management  and variety of stakeholders   implement methods to improve data reliability and quality   creative in solving problems  especially thinking outside the box to come up with solutions   an ideal resource loves working with data   strong analytical skills with high attention to detail and accuracy   excellent verbal  written  and interpersonal communication skills       thanks   regards srihari smart it frame   an e  verify employer   davidson avenue suite    somerset nj   desk  ext     gmail      www smartitframe com   about smart it frame smart it frame consulting handles the staffing and management of part or all of the recruitment process for our customers wishing to outsource their staffing requirements  from job profiling  providing new staff  technology  to on boarding a new hire we support our customers in their future business needs  about client our client is a leading provider of information technology  consulting  and business process outsourcing services  dedicated to helping the world s leading companies build stronger businesses  client combines a passion for client satisfaction  technology innovation  deep industry and business process expertise and a global  collaborative workforce that embodies the future of work  with over   delivery centers worldwide  our client is a member of the nasdaq    the s p    the forbes global   and the fortune   and is ranked among the top performing and fastest growing companies in the world '

In [34]:
# count keywords in description
from collections import Counter
def find_words(key_words, string):
    string = string.split()
    separator = " "
    words_found = {}
    for word in key_words:
        n_gram = len(word.split())
        res = Counter(separator.join(string[idx : idx + n_gram]) for idx in range(len(string) - n_gram + 1))
        print(word, res[word])
        if res[word]>0:
            words_found[word] = res[word]
    # add KeyWordsMatch[%]
    words_found["KeyWordsMatch[%]"] = len(words_found)/len(key_words)
    return words_found

In [35]:
import time
time_start = time.time()
print(find_words(key_words, jobs_clean_df.loc[55,"job_description"]))
print(f"time elapsed {time.time()-time_start}")

data analyst 1
data scientist 0
excel 1
python 0
pandas 0
matplotlib 0
sql 1
postgresql 0
bootstrap 0
nosql 0
mongodb 0
mongo 0
javascript 0
tableau 1
machine learning 0
ml 0
scikit learn 0
scikit 0
keras 0
tensorflow 0
pyspark 0
natural language processing 0
nlp 0
big data 0
etl 0
extract transform load 0
amazon web services 0
aws 0
rds 0
{'data analyst': 1, 'excel': 1, 'sql': 1, 'tableau': 1, 'KeyWordsMatch[%]': 0.13793103448275862}
time elapsed 0.003956317901611328

In [43]:
x = {"x":1,"y":2, **find_words(key_words, jobs_clean_df.loc[55,"job_description"])}
#{**x,**find_words(key_words, jobs_clean_df.loc[55,"job_description"])}
x

data analyst 1
data scientist 0
excel 1
python 0
pandas 0
matplotlib 0
sql 1
postgresql 0
bootstrap 0
nosql 0
mongodb 0
mongo 0
javascript 0
tableau 1
machine learning 0
ml 0
scikit learn 0
scikit 0
keras 0
tensorflow 0
pyspark 0
natural language processing 0
nlp 0
big data 0
etl 0
extract transform load 0
amazon web services 0
aws 0
rds 0

{'x': 1,
 'y': 2,
 'data analyst': 1,
 'excel': 1,
 'sql': 1,
 'tableau': 1,
 'KeyWordsMatch[%]': 0.13793103448275862}

In [36]:
db.jobs_test
db.jobs_test.insert_one(find_words(key_words, jobs_clean_df.loc[55,"job_description"]))

data analyst 1
data scientist 0
excel 1
python 0
pandas 0
matplotlib 0
sql 1
postgresql 0
bootstrap 0
nosql 0
mongodb 0
mongo 0
javascript 0
tableau 1
machine learning 0
ml 0
scikit learn 0
scikit 0
keras 0
tensorflow 0
pyspark 0
natural language processing 0
nlp 0
big data 0
etl 0
extract transform load 0
amazon web services 0
aws 0
rds 0

In [ ]:
# jobs_df = pd.read_csv("ProcessedData.csv")
# jobs_df = jobs_df.drop("Unnamed: 0", axis=1)

In [ ]:
# Function to split the salary text
def split_salary(string):
    
    try:
        amount = re.findall('(\$\d+,\d+|\$\d+)', string)
        salary_min = amount[0]
        salary_min = re.findall("\d+,\d+|\d+",salary_min)[0]
        try:
            salary_max = amount[1]#.group(0)
            salary_max = re.findall("\d+,\d+|\d+",salary_max)[0]
        except:
            salary_max = ""
        um = re.findall('hour|year', string)  
        um = "$/"+um[0]
        return (salary_min, salary_max, um)
    except:
        return ("","","")

In [ ]:
# Split salary text into minimum salary, maximum salary and unit of measurement
salary_list = jobs_df["job_salary"].astype(str).values.tolist()
salary_list = map(split_salary, salary_list)
salary_list = [x for x in salary_list]

In [ ]:
# Record splitted salaries into clean dataframe
salary_list_transposed = zip(*salary_list)
salary_list_transposed = [i for i in salary_list_transposed]
jobs_df["salary_min"] = salary_list_transposed[0]
jobs_df["salary_max"] = salary_list_transposed[1]
jobs_df["UM"] = salary_list_transposed[2]
jobs_df

In [ ]:
# # Insert clean data into new MongoDB table
# #db.jobs_clean.drop()
# clean_records = json.loads(jobs_df.T.to_json()).values()
# db.jobs_clean.insert_many(clean_records)